{
  "_comment": "this is only a sample! real config goes in iibot.conf. You can delete this line after",

  "user": "iibot",

  "nick": "myircbot",
  "network": "irc.freenode.net",
  "ircpass": "foo"
}
